@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]EasyDental</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="./css/Sharedstyles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Eassydentalmvc.styles.css" asp-append-version="true" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    </head>
    <body class="h-100 d-flex justify-content-between flex-column">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="@Url.Action("Index", "UsuarioDentistas")">
                        <img src="/img/logo1.png" alt="Logo" width="140" height="35" class="d-inline-block align-top">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a class="nav-link">Seja bem-vindo @User.Identity.Name</a></li>
                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-controller="UsuarioClientes" asp-action="Login" style="background-color: #a8966f; color: white !important; border-radius: 15px; padding: 10px 20px; transition: background-color 0.3s ease;">Login</a>
                        }

                        @if (User.IsInRole("Dentista"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UsuarioDentistas" asp-action="Edit" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Editar Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UsuarioDentistas" asp-action="IndexEventos" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Suas Consultas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UsuarioDentistas" asp-action="Logout">Sair</a>
                            </li>
                        }
                        @if (User.IsInRole("Cliente"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UsuarioClientes" asp-action="Details" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UsuarioClientes" asp-action="IndexEventos" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Suas Consultas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UsuarioClientes" asp-action="Logout">Sair</a>
                            </li>
                        }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="h-100 p-5" role="main">
            @RenderBody()
        </main>
        <footer class="text-center" style="background-color: #379bbf;">
            <div class="container pt-4">
                <section class="mb-4">
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1 social-icon facebook-icon"
                        href="#!"
                        role="button"
                        data-mdb-ripple-color="dark">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1 social-icon twitter-icon"
                        href="#!"
                        role="button"
                        data-mdb-ripple-color="dark">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1 social-icon google-icon"
                        href="#!"
                        role="button"
                        data-mdb-ripple-color="dark">
                        <i class="fab fa-google"></i>
                    </a>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1 social-icon instagram-icon"
                        href="#!"
                        role="button"
                        data-mdb-ripple-color="dark">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1 social-icon linkedin-icon"
                        href="#!"
                        role="button"
                        data-mdb-ripple-color="dark">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1 social-icon github-icon"
                        href="#!"
                        role="button"
                        data-mdb-ripple-color="dark">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
            </div>

            <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright: <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
        </footer>
    </body>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
