@using System.Security.Claims;
@model EassyDental.Models.UsuarioDentista

@{
    ViewData["Title"] = "Detalhes do dentistas";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-sm-12 border rounded-3 p-4">
            <h1 class="text-black">
                @Html.DisplayFor(model => model.NomeClinica)
            </h1>
            <div class="row text-secondary fs-5">
                <div class="col-auto">
                    @Html.DisplayFor(model => model.HorarioAbertura) - @Html.DisplayFor(model => model.HorarioEncerramento)
                </div>
                <div class="col-auto border-start border-2">
                    @Html.DisplayFor(model => model.Endereco)
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-7">
                    <div class="row">
                        <h3 class="text-black">
                            @Html.DisplayFor(model => model.Name)
                        </h3>
                    </div>
                    <div class="row">
                        <div class="row text-secondary">
                            <div class="col-auto">
                                @Html.DisplayFor(model => model.CRO)
                            </div>
                            <div class="col-auto border-start border-2 text-break">
                                @Html.DisplayFor(model => model.Especialidade)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 text-secondary align-self-end">
                    <div class="row mb-2 text-break">
                        telefone: @Html.DisplayFor(model => model.Telefone)
                    </div>
                    <div class="row text-break">
                        e-mail: @Html.DisplayFor(model => model.Email)
                    </div>
                </div>
            </div>
            <div class="row border rounded-3 text-secondary mb-2 p-3">
                <label class="p-0">Descrição:</label>
                <div class="col p-0 text-break">@Html.DisplayFor(model => model.Descricao)</div>
            </div>
        </div>
        @if (User.IsInRole("Cliente"))
        {
            <form class="col-md-3 col-sm-12 border rounded-3 mb-5 p-4 align-self-center" id="formAgendar" method="post" action="@Url.Action("CreateEventos", "UsuarioDentistas")">
                <div class="mb-4 fs-1 fw-bold">Agendamento</div>
                <input type="hidden" name="id" value="@Model.Id" />

                <label for="horarioConsulta" class="h4 text-secondary">Escolha o horário:</label>
                <input class="mb-2" type="datetime-local" id="horarioConsulta" name="horarioConsulta" required />

                <div class="row">
                    <button class="btn btn-primary" type="button" onclick="agendar()">Agendar</button>
                </div>
            </form>
        }
        <div class="d-flex">
            @if (User.IsInRole("Dentista") && Model.Id.ToString() == User.FindFirst(ClaimTypes.NameIdentifier).Value)
            {
                <form asp-action="Edit" asp-route-id="@Model?.Id" method="get" class="me-1">
                    <input type="submit" value="Editar" class="btn btn-secondary" />
                </form>
                <form asp-action="DeleteConfirmed" asp-route-id="@Model?.Id" method="post">
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                </form>
            }
            <form asp-action="Index" asp-controller="UsuarioDentistas" method="get" class="ms-auto">
                <input type="submit" value="Voltar" class="btn" style="background-color: #a8966f; color: white;" />
            </form>
        </div>
    </div>
</div>

<script>
    function agendar() {
        var form = document.getElementById("formAgendar");
        form.submit();
    }
</script>
