@model IEnumerable<EassyDental.Models.UsuarioDentista>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
@foreach (var item in Model) {
        <div class="row justify-content-center">
            <div class="col-md-7 col-sm-10 border rounded-3 mb-5 p-4">
                <h1 class="text-black">
                    @Html.DisplayFor(modelItem => item.NomeClinica)
                </h1>
                <div class="row text-secondary fs-5">
                    <div class="col-auto">
                        @Html.DisplayFor(modelItem => item.HorarioAbertura) - @Html.DisplayFor(modelItem => item.HorarioEncerramento)
                    </div>
                    <div class="col-auto border-start border-2">
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-7">
                        <div class="row">
                            <h3 class="text-black">
                                @Html.DisplayFor(modelItem => item.Name)
                            </h3>
                        </div>
                        <div class="row">
                            <div class="row text-secondary">
                                <div class="col-auto">
                                    @Html.DisplayFor(modelItem => item.CRO)
                                </div>
                                <div class="col-auto border-start border-2">
                                    @Html.DisplayFor(modelItem => item.Especialidade)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 text-secondary align-self-end">
                        <div class="row mb-2">
                            telefone: @Html.DisplayFor(modelItem => item.Telefone)
                        </div>
                        <div class="row">
                            e-mail: @Html.DisplayFor(modelItem => item.Email)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                </div>
            </div>
        </div>
}
</div>