@model IEnumerable<EassyDental.Models.AgendaEvento>

@{
    ViewData["Title"] = "IndexEventos";
}

<h1>Consultas Marcadas Cliente</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HorarioConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioDentista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioDentista.Name)
            </td>
            <td class="d-flex">
                <form asp-action="Details" asp-controller="AgendaEventoes" asp-route-id="@item.Id" class="me-1">
                    <input type="submit" value="Detalhes" class="btn btn-primary" />
                </form>
                <form asp-action="Edit" asp-controller="AgendaEventoes" asp-route-id="@item.Id" method="get" class="me-1">
                    <input type="submit" value="Editar" class="btn btn-secondary" />
                </form>
                <form asp-action="DeleteConfirmed" asp-controller="AgendaEventoes" asp-route-id="@item.Id" method="post">
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
