@using System.Security.Claims;
@model EassyDental.Models.AgendaEvento

@{
    ViewData["Title"] = "Detalhes da consulta";
}

<h1>Detalhes da consulta</h1>
<hr />

<div>
    <dl class="row justify-content-center">
        <dt class="col-4">
            Horário agendado
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.HorarioConsulta)
        </dd>
        @if (User.IsInRole("Dentista"))
        {
            <dt class="col-sm-4">
                Nome
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioCliente.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioCliente.Telefone)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioCliente.Telefone)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioCliente.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioCliente.Email)
            </dd>
        }
        @if (User.IsInRole("Cliente"))
        {
            <dt class="col-sm-4">
                Nome
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioDentista.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioDentista.Telefone)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioDentista.Telefone)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioDentista.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioDentista.Email)
            </dd>
            <dt class="col-sm-4">
                Nome da clínica
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioDentista.NomeClinica)
            </dd>
            <dt class="col-sm-4">
                Endereço
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioDentista.Endereco)
            </dd>
        }
    </dl>
</div>
<div class="d-flex justify-content-end">
    @if (User.IsInRole("Dentista"))
    {
        <form asp-action="IndexEventos" asp-controller="UsuarioDentistas" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value" method="get">
            <input type="submit" value="Voltar" class="btn" style="background-color: #a8966f; color: white;" />
        </form>
    }
    @if (User.IsInRole("Cliente"))
    {
        <form asp-action="IndexEventos" asp-controller="UsuarioClientes" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value" method="get">
            <input type="submit" value="Voltar" class="btn" style="background-color: #a8966f; color: white;" />
        </form>
    }
</div>
