@using System.Security.Claims;
@model EassyDental.Models.AgendaEvento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AgendaEvento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.HorarioConsulta)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.HorarioConsulta)
        </dd>
        @if (User.IsInRole("Dentista"))
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioCliente.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioCliente.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioCliente.Telefone)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioCliente.Telefone)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioCliente.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioCliente.Email)
            </dd>
        }
        @if (User.IsInRole("Cliente"))
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioDentista.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioDentista.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioDentista.Telefone)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioDentista.Telefone)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioDentista.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioDentista.Email)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioDentista.NomeClinica)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioDentista.NomeClinica)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UsuarioDentista.Endereco)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UsuarioDentista.Endereco)
            </dd>
        }
    </dl>
</div>
<div>
    @if (User.IsInRole("Dentista"))
    {
        <a asp-action="IndexEventos" asp-controller="UsuarioDentistas" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Back to List</a>
    }
    @if (User.IsInRole("Cliente"))
    {
        <a asp-action="IndexEventos" asp-controller="UsuarioClientes" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Back to List</a>
    }
</div>
