@using System.Security.Claims;
@model EassyDental.Models.AgendaEvento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AgendaEvento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCliente.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioDentista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioDentista.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    @if (User.IsInRole("Dentista"))
    {
        <a asp-action="IndexEventos" asp-controller="UsuarioDentistas" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Back to List</a>
    }
    @if (User.IsInRole("Cliente"))
    {
        <a asp-action="IndexEventos" asp-controller="UsuarioClientes" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Back to List</a>
    }
</div>
